
<!DOCTYPE html>

<head>
  <style>
    .header {
      border: 2px outset black;
      background-color: rgb(98, 159, 179);
      text-align:justify;
      position: relative;
     
    }
    .header h1{
      text-shadow: 100ch;
      text-decoration: rgba(199, 42, 42, 0.91);
      text-decoration-color: rgb(163, 49, 49);
    
    }
  </style>
</head>

<body>

  <div class="header">
    <img src="https://www.svgrepo.com/show/22880/shopping-bag.svg" alt="Smiley face" width="100" height="100" style="float:left"> 
    <h1><blockquote> Your Products with low price</blockquote></h1>
  </div>
  <p> {{ contex }}</p>
</body>
  </html>